Binaries/
DerivedDataCache/
Intermediate/
#Content/
Saved/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
cmake-build-debug/
Content/__ExternalActors__/
Content/__ExternalObjects__/
Content/Characters/
Content/Collections/
Content/Cursor/
Content/Developers/
Content/LevelPrototyping/
Content/StarterContent/
Content/TopDown/
.DS_Store
.idea/

